#boxContainer {
    padding-top: 20%;
}

.box {
    position: relative;
    background-color: #eaeaea;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    width: 290px;
    height: 290px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 0.2s;
    top: 100px;
    opacity: 0;
    padding-top: 135px;
}

.box span {

}

.box.ui-draggable-dragging {
    transition: none;
}

.box.show {
    
    top: 0;
    opacity: 1;
}

.box.removed {
    transition: 0.2s;
    top: -150px !important;
    opacity: 0;
    pointer-events: none;
}