body, html {
    height: 100%;
}

*{
    padding:0;
    margin:0;
}
#screen{
    position:relative;
    max-width: 400px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#progressBar{
    width:5%;
    display: inline-block;
    position:absolute;
    top:10px;
    bottom:10px;
    left:10px;
    bottom: 
}
#progress{
    background-color: green;
}
