
*{
	padding:0;
	margin:0;
}
.wrapper{
	margin: 10px 0px;
}
#screen{
	position:relative;
	max-width: 400px;
	margin: 0 auto;
}
#progressBar{
	width:5%;
	display: inline-block;
	position:absolute;
	top:10px;
	bottom:10px;
	left:10px;
	bottom: 
}
#progress{
	background-color: green;
}
